@import "tailwindcss";
@source "./src";

body {
  background-color: theme('colors.gray.100');
}

* {
  font-family: "Exo 2", sans-serif;
}

.bg-gradient-lead {
  background: linear-gradient(90.37deg, #5ED3FF -12.35%, #6EC6FE 0.67%, #EB65F4 100.24%, #FD58F2 114.28%);
}

.font-handwriting {
  font-family: "Caveat", cursive;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-sriracha {
  font-family: "Sriracha", cursive;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.with-crm-section-shadow {
  box-shadow: 0px 8px 24px 0px #959DA533;
}

.g-icon-shadow {
  box-shadow: 0px 11.06px 23.04px 0px #110C2E26;
}

.linked-sales-cards-shadow {
  box-shadow: 0px 2px 8px 0px #63636333;
}

.btn-shaow-starter-section {
  box-shadow: '0px 18.29px 36.59px -18.29px #0000004D, 0px 30.49px 60.98px -12.2px #32325D40',
}

.asymmetrical-dashed {
  width: 200px;
  height: 100px;
  border: 2px dashed #ff4081;
  /* Pink dashed border */
  border-radius: 40px 10px 50px 10px;
  /* Applies different curves to each corner (top-left, top-right, bottom-right, bottom-left) */
}

.custom-dashed {
  width: 606;
  height: 185;
  alignment-baseline: -180 deg;
  opacity: 1;
  top: 5130px;
  left: 134px;
  border-radius: 100px;
  border-width: 3px;
  border-style: dashed;
  stroke-dashoffset: 14, 14;
  border: 3px solid #1E80A536
}